---
layout: page
title: Publications
permalink: /publications/
---

<h2>Publications</h2>
{% for pub in site.data.publications %}
  <p>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ pub.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ pub.authors }}</h6>
        <p class="card-text">{{ pub.type }},
        {% if pub.venue %}<span class="venue">{{ pub.venue}},</span>{% endif %}
        {{ pub.year }}<br />
        {% for link in pub.links %}
          <a href="{{ link.url }}">{{ link.name }}</a> &ndash;
        {% endfor %}
        <a href="#{{ pub.bibkey }}" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseExample">BibTeX</a>
        <div class="collapse" id="{{ pub.bibkey }}">
          <pre class="bibtex"><code>{{ pub.bibtex }}</code></pre>
        </div>
      </div>
    </div>
  </p>
{% endfor %}
