<footer>
  <a class="btn btn-lg" href="mailto:theo.verhelst [at] ulb [dot] be">
    <span class="fas fa-envelope"></span><br/><span class="social-text">Email</span>
  </a>
  <a class="btn btn-lg" href="https://www.linkedin.com/in/théo-verhelst/">
    <span class="fab fa-linkedin"></span><br/><span class="social-text">LinkedIn</span>
  </a>
  <a class="btn btn-lg" href="https://github.com/TheoVerhelst">
    <span class="fab fa-github"></span><br/><span class="social-text">GitHub</span>
  </a>
  <a class="btn btn-lg" href="https://scholar.google.co.uk/citations?user=dlO6wFwAAAAJ">
    <i class="fa-brands fa-google-scholar"></i><br/><span class="social-text">Scholar</span>
  </a>
  <a class="btn btn-lg" href="https://www.researchgate.net/profile/Theo_Verhelst">
    <span class="fab fa-researchgate"></span><br/><span class="social-text">ResearchGate</span>
  </a>
  <a class="btn btn-lg" href="https://orcid.org/0000-0002-2047-5690">
    <span class="fab fa-orcid"></span><br/><span class="social-text">ORCID</span>
  </a>
  <a class="btn btn-lg" href="/assets/documents/CV_Theo_Verhelst.pdf">
    <span class="fas fa-id-badge"></span><br/><span class="social-text">CV</span>
  </a>
</footer>
