<header>
  <!-- The navbar class from Bootstrap is a mess, couldn't get buttons to wrap with it !-->
  <nav class="container-fluid text-center menu">
    <div class="row align-items-center">
      <div class="col-sm-auto">
        <a class="menu-brand" href="/">Théo Verhelst</a>
      </div>
      <div class="col-sm-auto ms-auto">
        <a class="menu-link{% if page.url == "/cv/" %} active{% endif %}" href="/cv/">CV</a>
      </div>
      <div class="col-sm-auto">
        <a class="menu-link{% if page.url == "/publications/" %} active{% endif %}" href="/publications/">Publications</a>
      </div>
    </div>
  </nav>
</header>
