/* Main */

@import url("/assets/css/libertinus.css");

html, body {
    font-family: "Libertinus Serif", serif;;
    color: #000;
    background-color: #f4f4f6;
    height: 100%;
}

body {
  display:-ms-flexbox;
  display:flex
}

#bd-placeholder-img, #bd-placeholder-img-white {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

#bd-placeholder-img {
    background-image: url("/assets/images/bg.jpg");
}

#bd-placeholder-img-white {
    background-image: url("/assets/images/bg_white.jpg");
}

#main-wrapper {
  max-width: 672px;
  margin: auto;
}

h1, h2 {
    font-weight: 300;
    margin-bottom: 20px;
}


/* Navigation bar */

.menu {
  padding: 20px 0 30px 0;
}

.menu .menu-brand {
    text-decoration: none;
    font-family: "Libertinus Display", Times, serif;
    font-size: 28pt;
    color: black;
}

.menu .menu-link {
    text-decoration: none;
    font-size: 14pt;
    color: black;
    background-color: transparent;
    border-bottom: .2rem solid transparent;
}

.menu .menu-link:hover,
.menu .menu-link:focus {
    border-bottom-color: rgba(0, 0, 0, .25);
}

.menu .active {
    color: black;
    border-bottom-color: black;
}

/* Footer */
footer {
    text-align: center;
}

footer .social-text {
    font-size: small;
}


/* Landing page */

.landing {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-size: 20;
}

.landing .btn-lg {
    padding: .75rem 1.25rem;
}



/* CV list items */

#cv-list dt {
  margin-top: 20px;
  margin-bottom: -8px;
}

#cv-list .cv-title {
  float:left;
}

#cv-list hr {
  border-top: 1px solid #bbb;
  margin-left: 10px;
}

#cv-list .cv-rule {
 display: block;
 position:relative;
 bottom:4px;
 overflow: hidden;
}

/* Publications */

.card-title, .card-subtitle {
    font-weight: 500;
}

.card {
    border-width: 0px;
    padding-top: 0px;
}

.card-body {
  padding: 12px 15px;
}

.card .venue {
  font-style: italic;
}

p.card-text {
  margin-bottom: 0; /* Counteract some margin added by the collapsed text for BibTeX */
}

.bibtex {
  padding: 10px;
  background-color: #EEEEEE;
}
